<div class="container-fluid">
	<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

	<div class="row">
		<div id="large_menu" data-ng-class="{'div-animate': toggleSideMenu}"
			class="col-lg-2 col-md-3 col-sm-3 menu_back" style="paddin: 0;">
			<ul class="menu_large">
				<li><a href="#about" class="gn-icon gn-icon-download">About</a></li>
				<li><a href="#service" class="gn-icon gn-icon-cog">Service</a></li>
				<li><a href="#works" class="gn-icon gn-icon-help">Works</a></li>
				<li><a href="#contact" class="gn-icon gn-icon-archive">Contact</a></li>
			</ul>
		</div>
		<div id="main_div"
			class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1"
			style="padding-top: 30px;">
			<div class="cmn-t-border">
				<div class="white_box" style="height: auto; padding: 10px;" data-ng-init="groupDepartment.departmentName=''">
					<form name="groupDepartmentSetupForm"
						data-ng-submit="storeGroupDepartments(groupDepartmentsObj,groupDepartmentSetupForm.$valid)"
						novalidate>
						<fieldset class="scheduler-border" style="border: 1px solid red;">
							<legend class="scheduler-border">Group Setup </legend>
							<div class="row department_name">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
									<label> Department Name </label><select class="width101"
										name="deptName" data-ng-model="groupDepartmentsObj.departmentId"
										data-ng-options="deptNamee.id as deptNamee.departmentName for deptNamee in deptName"
										required>
										<option value=''>Choose Department Name </option>
									</select> <span class="red"
										data-ng-show="submitted &&  groupDepartmentSetupForm.deptName.$error.required">*Required
									</span>

								</div>
							</div>
							<div data-ng-hide="groupDepartmentsObj.departmentId == 0 || groupDepartmentsObj.departmentId == undefined || groupDepartmentsObj.departmentId == null || groupDepartmentsObj.departmentId == 'null'">
							<div data-ng-repeat="groupDepartment in groupDepartmentsObj.groupDepartments track by $index">
								<div class="row" style="padding: 10px;">
									<div class="form-group">
										<!-- <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 control-label">DepartMent</label> -->
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<label>Group Name</label> <input type="text" data-ng-change="checkGroupName(groupDepartment.groupName, groupDepartmentsObj.departmentId, $index)"
												class="form-control" dynamic-name-prefix="groupNames"
												dynamic-name='$index' placeholder="Group Name"
												data-ng-model="groupDepartment.groupName" required /> 
												<span class="red" data-ng-show="submitted && groupDepartmentSetupForm.groupNames{{$index}}.$error.required">*Required </span>
												<label class="red" data-ng-show="!groupDepartmentSetupForm.groupNames{{$index}}.$error.required && isUniqueGroups[{{$index}}]">Group Name Exist </label>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<label> Team Lead Name</label> <input type="text"
												class="form-control" dynamic-name-prefix="tLHead"
												dynamic-name='$index' placeholder="Team Lead Name"
												typeahead-append-to-body="true"
												data-ng-model="groupDepartment.teamLeadName"
												data-ng-change="getTeamLeadName(groupDepartment.teamLeadName)"
												typeahead="head.name as head.name for head in teamLeadNameList | filter:{name:$viewValue}"
												typeahead-loading="loadingLocations"
												typeahead-template-url="customTemplate.html"
												typeahead-on-select='onSelect($item, $model, $label,$index)'
												typeahead-wait-ms="30" /> 
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
											<label> Description</label>
											<textarea class="form-control" placeholder="Description"
												data-ng-model="groupDepartment.description"></textarea>
										</div>
										<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
											<br>
											<button data-ng-show="$index==0" type="button"
												class="btn btn-default addButton"
												data-ng-click="addNewGroupDepartmentField()">
												<i class="fa fa-plus"></i>
											</button>
											<button data-ng-show="$index>0" type="button"
												class="btn btn-default removeButton"
												data-ng-click="removeGroupDepartmentField()">
												<i class="fa fa-minus"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							</div>
						</fieldset>
						<fieldset class="scheduler-border" style="border: 1px solid red;">
							<legend class="scheduler-border">Submit Form</legend>
							<div>
								<div>
									<span class="action_button_left_margin"><button
											style="margin-right: 5px;" value="Submit"
											data-ng-click="submitted = true" class="btn btn-primary"
											type="submit">Submit</button>
										<button class="btn btn-primary pull-right" type="button">Cancel</button></span>
								</div>

								<!-- <div class="col-lg-11">
								
							</div>
							<div class="col-lg-1">
								
							</div> -->
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>