          <h3 id="events-editor">
            Edit events
            <button class="btn btn-primary pull-right" ng-click="events[index].push({title: 'New events[index]', type: 'important'})">Add new</button>
            <div class="clearfix"></div>
          </h3>

          <table class="table table-bordered">

            <thead>
              <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Starts at</th>
                <th>Ends at</th>
                <th>Remove</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><input type="text" class="form-control" ng-model="events[index][index].title"></td>
                <td>
                  <select ng-model="events[index].type" class="form-control">
                    <option value="important">Important</option>
                    <option value="warning">Warning</option>
                    <option value="info">Info</option>
                    <option value="inverse">Inverse</option>
                    <option value="success">Success</option>
                    <option value="special">Special</option>
                  </select>
                </td>
                <td>
                  <p class="input-group" style="max-width: 250px">
                    <input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="events[index].startsAt" is-open="events[index].startOpen" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="toggle($event, 'startOpen', events[index])"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                  <timepicker ng-model="events[index].startsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                </td>
                <td>
                  <p class="input-group" style="max-width: 250px">
                    <input type="text" class="form-control" readonly datepicker-popup="medium" ng-model="events[index].endsAt" is-open="events[index].endOpen" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="toggle($event, 'endOpen', events[index])"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </p>
                  <timepicker ng-model="events[index].endsAt" hour-step="1" minute-step="15" show-meridian="true"></timepicker>
                </td>
                <td><button class="btn btn-danger" ng-click="events[index].splice($index, 1)">Delete</button></td>
              </tr>
            </tbody>

          </table>