<div>
	
	<form data-ng-controller="annonymousController"
		name="passwordRecoveryForm"
		data-ng-submit="sendPasswordRecoveryLink()" novalidate>
		Enter User Name :<input type="text" data-ng-model="user.username"
			name="username" data-ng-blur="findUserName(user.username)" required />
		<span class="error"
			data-ng-show="submitted && passwordRecoveryForm.username.$error.required">Required
			!</span> <span class="error"
			data-ng-show="invalidUser && passwordRecoveryForm.$valid==false">Invalid
			User Name !</span> Enter Registered Email :<input type="email"
			data-ng-model="user.email" name="email"
			data-ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
			data-ng-readonly="invalidUser" required /> <span class="error"
			data-ng-show="submitted && passwordRecoveryForm.email.$error.required">Required
			! </span> <small class="red"
			data-ng-show="passwordRecoveryForm.email.$error.pattern">*Invalid
			email address.</small> <span class="error"
			data-ng-show="invalidEmail && passwordRecoveryForm.$valid==false">Unregistered
			Email !</span> <input type="submit" value="Submit"
			data-ng-click="submitted=true">
	</form>
</div>