<div class="model-body">
	<div data-ng-style="" class="modal-header model_border_radious">
		<h5 class="modal-title wrap heading_bold">Update Department
			Leaves Setup</h5>
	</div>
	<div class="container-fluid">
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

		<div class="row model-body">
			<div id="large_menu" data-ng-class="{'div-animate': toggleSideMenu}"
				class="col-lg-2 col-md-3 col-sm-3 menu_back" style="paddin: 0;">
				<ul class="menu_large">
					<li><a href="#about" class="gn-icon gn-icon-download">About</a></li>
					<li><a href="#service" class="gn-icon gn-icon-cog">Service</a></li>
					<li><a href="#works" class="gn-icon gn-icon-help">Works</a></li>
					<li><a href="#contact" class="gn-icon gn-icon-archive">Contact</a></li>
				</ul>
			</div>
			<div id="main_div"
				class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1"
				style="padding-top: 30px;">
				<div class="cmn-t-border">
					<div class="white_box"style="width:453px;margin:13px 1px 30px -35px;">
						<form name="departmentSetupForm"
							data-ng-submit="storeDepartments(departments,departmentSetupForm.$valid)"
							novalidate>
								<div data-ng-repeat="department in departments track by $index">
									<div class="row" style="padding: 10px;">
										<div class="form-group">
											<div
												class="col-lg-1 col-md-1 col-sm-1 col-xs-1 control-label">
												<label> Department</label>
											</div>
											<!-- <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 control-label">DepartMent</label> -->
											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
												<input type="text" class="form-control"
													dynamic-name-prefix="dName" dynamic-name='$index'
													placeholder="Department Name"
													data-ng-change="checkDeptName(department.departmentName, $index)"
													data-ng-model="department.departmentName" required /> <span
													class="red"
													data-ng-show="submitted && departmentSetupForm.dName{{$index}}.$error.required">*Required
												</span> <label
													data-ng-show="!departmentSetupForm.dName{{$index}}.$error.required && isUniqueDept[{{$index}}]"
													class="red">Department Name Exist</label>
											</div>

											<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
												<input type="text" class="form-control"
													dynamic-name-prefix="dHead" dynamic-name='$index'
													placeholder="Department Head"
													typeahead-append-to-body="true"
													data-ng-model="department.managerName"
													data-ng-change="getDepartMentHeads(department.managerName)"
													typeahead="head.name as head.name for head in headsNameList | filter:{name:$viewValue}"
													typeahead-loading="loadingLocations"
													typeahead-template-url="customTemplate.html"
													typeahead-on-select='onSelect($item, $model, $label,$index)'
													typeahead-wait-ms="30" /> <span class="red"
													data-ng-show="submitted &&  departmentSetupForm.dHead{{$index}}.$error.required">*Required
												</span>

											</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
												<textarea class="form-control" placeholder="Description"
													data-ng-model="department.description"></textarea>
											</div>
										</div>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button data-ng-style="" class="btn btn-primary refresh_btn"
					data-ng-click="updateLeaveSetupConfirm(department, updateupdateLeaveSetupForm.$valid)">Update</button>
				<button data-ng-style="" class="btn btn-primary refresh_btn"
					data-ng-click="leaveUpadtePopupClose()">Cancel</button>
			</div>
			<div class="ngdialog-close fa fa-times fa-2x"
				style="color: #fff; background: none !important;"></div>
		</div>
	</div>
</div>